<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  <head>
    {%- include head.html -%}
    
    <!-- MathJax script for LaTeX rendering -->
    <script>
      MathJax = {
        tex: {
          inlineMath: [['$', '$']]
        }
      };
    </script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    
  </head>
  
  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
        <h1>Test</h1>
      </div>
    </main>
    
    <h1>Test</h1>
    
    <!-- Insert MathJax test here -->
    <p>This is a MathJax inline math test: $a^2 + b^2 = c^2$</p>
    {%- include footer.html -%}

  </body>

</html>
